<main>
    <section class="main-section">
      <div class="home-left">
        <button class="switch-mode">
          <img class="pi pi-warehouse" src="" alt="">
        </button>
        <div class="default-container left">
          <p>Movimentação</p>
          <div class="movements-status">
            
          </div>
        </div>
      </div>

        <div class="home-right">
            <div class="default-container right">
                <img class="pi pi-user" src="" alt="">
                <p>User</p>
            </div>

            <div class="buttons-in-out">
                <button 
                  class="button-in" 
                  [ngClass]="{'selected': selectedButton === 'entrada'}">
                  Entrada
                </button>
                <button 
                  class="button-out" 
                  [ngClass]="{'selected': selectedButton === 'saida'}">
                  Saída
                </button>
              </div>              

            <div class="amounts">
                <div class="amount">
                    <p>Quantidade:</p> <input type="number" [(ngModel)]="value1" min="0" max="100">
                </div>
                <div class="number-id">
                    <p>Material Id:</p> <input type="number" [(ngModel)]="value2" min="0" max="100">
                </div>
                
                
            </div>

            <div class="btn-default">
                <button>Finalizar</button>
            </div>

        </div>

    </section>
</main>
