.home-left, .home-right{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.home-left{
    justify-content: center;
    align-items: center;
}

.home-left button{
    position: relative;
    left: 145px;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--dark-green-tranparent);
}

.left{
    width: 25vw;
    height: 75vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-right{
    
    justify-content: center;
    align-items: center;
    position: relative;
}

.right{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 70px;
    width: 220px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.right img{
    margin-left: 10px;
}

.buttons-in-out{
    display: flex;
    gap: 30px;
}

.button-in, .button-out{
    border: none;
    padding: 10px 15px;
    width: 140px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.button-in{
    background-color: var(--green);
}

.button-in.selected{
    background-color: #13e100;
    border: 1px solid black;
}

.button-out{
    background-color: var(--red);
}

.button-out.selected {
    background-color: #dd0000;
    border: 1px solid black;
}

.amounts{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.amount, .number-id{
    display: flex;
    gap: 10px;
    align-items: center;
}

.amounts input{
    width: 48px;
    height: 35px;
    border-radius: 8px;
}

  