<main>
    <section class="main-section">

        <div class="home-left">
            <button class="switch-mode">              
                <img class="pi pi-warehouse" src="" alt="">
            </button>
            <div class="default-container left">
                <p>Movimentação</p>
                <div class="movements-status">

                </div>
            </div>
        </div>

        <div class="home-right">
            <div class="default-container right">
                <img class="pi pi-user" src="" alt="">
                <p>User</p>
            </div>

            <div class="buttons-in-out">
                <button class="button-in">Entrada</button>
                <button class="button-out">Saida</button>
            </div>

            <div class="amounts">
                <p>Quantidade:</p> <input type="number">
                <p>Material Id:</p> <input type="number">
            </div>

            <div class="btn-default">
                <button>Finalizar</button>
            </div>

        </div>

    </section>
</main>
