<main>
    <section class="main-section">

        <div class="home-left">
            <button class="switch-mode">
                <img src="" alt="">
            </button>
            <div class="box-screen-sign-in">
                <p>Movimentação</p>
                <div class="movements-status">

                </div>
            </div>
        </div>

        <div class="home-right">
            <div class="box-screen-sign-in">
                <img src="" alt="">
                <p>User</p>
            </div>

            <div class="buttons-in-out">
                <button class="button-in">Entrada</button>
                <button class="button-out">Saida</button>
            </div>

            <div class="amounts">
                <p>Quantidade:</p> <input type="number">
                <p>Material Id:</p> <input type="number">
            </div>

            <div class="button-sign-in">
                <button>Finalizar</button>
            </div>

        </div>

    </section>
</main>
