<main>
    <section class="main-section">
        
        <div class="box-screen-sign-in">
            <div class="box-login-left">
                <div class="box-elements-left">                   
                    <h1>Logar</h1>       
                    
                        <p-floatLabel class="custom-floatLabel">
                            <input pInputText id="email" [(ngModel)]="email" />
                            <label for="email">Email</label>
                        </p-floatLabel>  
                        
                        <p-floatLabel class="custom-floatLabel">
                            <p-password [(ngModel)]="password"/>
                            <!-- <p-password [(ngModel)]="password" [toggleMask]="true" /> -->
                            <label for="password">Password</label>
                        </p-floatLabel>
                    
                    <div class="button-sign-in ">
                        <button>Login</button>
                    </div>
                </div>
            </div>  

            <div class="box-login-right">
                <div class="box-elements-right">

                    <img ngSrc="/assets/icons/material-icon.png" width="70" height="70" priority/>
                    <p>Estoque odontológico</p>
                    <p>
                        <a href="#" (click)="onLogin()"> Registrar-se </a>
                    </p>

                </div>
            </div>
        </div>
    </section>
</main>