.default-container{
    width: 800px;
    height: 400px;
}    

.box-login-left{
    /* border: 1px solid rgb(2, 0, 116); */
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 

}

.box-elements-left{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-elements-left h1 {
    position: relative;
    bottom: 25px; 
}

.custom-floatLabel {
    margin-bottom: 20px;
}

.custom-floatLabel input{
    position: relative;
    padding-right: 40px;
}

.btn-default button {
    position: relative;
    top: 25px;
}

.box-login-right{
    display: flex;
    height: 100%;
    width: 40%;
    background: linear-gradient(var(--light-green),var(--dark-green));
    border-radius: 20px;
    justify-content: center; 
    align-items: center; 
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.box-login-right:hover{
    box-shadow: -3px 1px 10px var(--black-transparent);
}

.box-elements-right{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

a{
    color: var(--black-transparent);
    text-decoration: none;
    position: relative;
}

 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: black;
    transition: width 0.7s;
}

a:hover::after {
    width: 90%;
}    

a:hover {
   color: black;
} 

p{
    font-weight: bold;
    font-size: 15px;
}