@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button, input, textarea {  
        border: 2px solid var(--border-green);
        background: none;
        font: inherit;
        color: inherit;
        box-shadow: 0 2px 8px var(--black-transparent);
    }
    label{
        color: var(--black-transparent);
    }
}

:root{
    --light-green: #2BFFB3;
    --dark-green: #308F6D;
    --light-green-tranparent: #2bffb14f;
    --dark-green-tranparent: #308f6e5e;
    --green: #13e100b6;
    --red: #dd0000c0;
    --border-green: #0B9966;
    --black-transparent: rgba(0, 0, 0, 0.534);
}

body {
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/images/background.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1; 
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Default Container */
.default-container{
    display: flex;
    background: linear-gradient( var(--light-green-tranparent), var(--dark-green-tranparent));
    border-radius: 15px;        
}

/* Default Button */

.btn-default button {
    position: relative;
    padding: 10px 70px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    color: var(--black-transparent);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
}

.btn-default button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--dark-green);
    transition: transform 0.3s ease;
    transform: scale(0);
}

.btn-default button:hover::before {
    transform: scale(1);
}

.btn-default button:hover {
    color: black;
    background-color: var(--dark-green);
    box-shadow: 0 4px 8px var(--black-transparent);
}